@import "fonts"

$primary-1: #faedcd
$secondary: #ccd5ae
$secondary-2: #E9EDC9
$natural: #FEFAE0
$brown: #D4A373
$text-main: black

button
  background-color: $brown
  cursor: pointer

header
  display: flex
  background-color: $secondary
  padding: 0

  .brand
    font-family: Lobster, fantasy
    font-size: 36px

  ul
    list-style-type: none
    display: flex

    li
      display: block


